section {
  margin: 1rem auto;
  width: 100%;
  max-width: 40rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}
.div-section {
  margin: 2px;
  width: 100%;
  /* max-width: 40rem; */
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}

button {
  font: inherit;
  cursor: pointer;
  background: #4f7da9;
  border: 1px solid #4f7da9;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #953358;
  border-color: #953358;
}

.btn-warning:disabled,
.btn-warning.disabled {
  color: #fff !important;
  background-color: #c7c6c3 !important;
  border-color: #797979 !important;
}

.btn-success:disabled,
.btn-success.disabled {
  color: #fff !important;
  background-color: #c7c6c3 !important;
  border-color: #797979 !important;
}
body {
  background: linear-gradient(to bottom, #def2f1 0, #feffff 400px);
  height: 100%;
  text-align: center;
}
.nodisplay {
  display: none;
}
.addPad {
  padding: 20px;
}
